<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add medicine</title>
    <link rel="stylesheet" href="/static/pharmacystyle.css">
    <link rel="icon" type="image" href="/static/form.jpg">
</head>
<body>
    <form action="/drug/adddrugprocessor" method="POST">
        <div class="drugname">
            <label for="drugid" >نام دارو </label>
            <input type="text" name="drugname" placeholder="نام دارو" id="drugname">
        </div>
        <div class="drugid">
            <label for="drugid" >کد دارو</label>
            <input type="text" name="drugid" placeholder="کد دارو" id="drugid">
        </div>
        <div class="company">
            <label for="company" >شرکت تولید کننده</label>
            <input type="text" name="company" placeholder="شرکت تولید کننده" id="company">
        </div>
        <div class="count">
            <label for="stock" >موجودی</label>
            <input type="number" name="stock" placeholder="موجودی" id="stock">
        </div>
        <div class="cost">
            <label for="price" >قیمت</label>
            <input type="number" name="price" placeholder="قیمت" id="price">
        </div>
        <button type="submit" class="btn">افزودن</button>
    </form>
</body>
</html>