<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacy Warehouse - Drug Inventory</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Link to your CSS file -->
</head>
<body>
    <div class="container">
        <h1>Pharmacy Warehouse - Drug Inventory</h1>

        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>نام دارو</th>
                        <th>کد دارو</th>
                        <th>شرکت سازنده</th>
                        <th>قیمت</th>
                        <th>موجودی</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Drugs}}
                    <tr>
                        <td>{{.Name}}</td>
                        <td>{{.Drugid}}</td>
                        <td>{{.Company}}</td>
                        <td>{{.Price}}</td>
                        <td>{{.Stock}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
