<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>نسخه پیچ</title>
    <link rel="stylesheet" href="/static/pharmacystyle.css">
    <link rel="icon" type="image" href="form.jpg">
</head>
<body>
    <form action="" target="_blank">
       
        <a href="search.html"  target="_blank" class="STOREKEEPER">جست‌وجو</a>
            <a href="allmed.html"target="_blank" class="STOREKEEPER">کل دارو</a>

</form>  
</body>
</html>