<!DOCTYPE html>
<html>
<head>
    <title>Search Result</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>لیست دارو های موجود در انبار</h1>
    <table class="drug-list">
        <thead>
            <tr>
                <th>نام دارو</th>
                <th>کد دارو</th>
                <th>شرکت سازنده</th>
                <th>قیمت</th>
                <th>موجودی</th>
                {{if eq $.User.Position "storekeeper" }}
                <th>عملیfات</th>
                {{end}}

            </tr>
        </thead>
        <tbody>
            {{range .Drug}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Drugid}}</td>
                <td>{{.Company}}</td>
                <td>{{.Price}}</td>
                <td>{{.Stock}}</td>

                {{if eq $.User.Position "storekeeper" }}
                                <td>
                <button class="edit-button"><a href="/staff/editdrug/{{.Id}}">ویرایش </a></button>
                <button class="delete-button"><a href="/drug/deletedrugprocessor/{{.Id}}">حذف </a></button>
                                </td>
                {{end}}

            </tr>
            {{end}}
        </tbody>
    </table>
    
    <a href="/staff/home" class="return-button">Return</a>
</body>
</html>

