<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه داروخانه</title>
    <link rel="stylesheet" href="/static/stylestyle.css">
</head>
<body>
    <a href="/staff/logout" class="logout">خروج از حساب کاربری</a>
    <form action="" class="search-form">
        <label for="name">نام دارو :</label>
        <input type="text" id="name" name="name" placeholder="نام دارو">
        <button type="submit">جست‌وجو</button>
    </form>
    <a href="/drug/alldrugs" class="med-list">مدیریت دارو ها</a>
    <a href="/drug/adddrug" class="med-list">افزودن دارو</a>
</body>
</html>
