<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME-STOREKEEPER</title>
    <link rel="stylesheet" href="/static/pharmacystyle.css">
    <link rel="icon" type="image" href="form.jpg">
</head>
<body>
    <form action="" target="_blank">
       
            <a href="search.html"  target="_blank" class="STOREKEEPER">جست‌وجو</a>
                <a href="/drug/adddrug" target="_blank" class="STOREKEEPER">اضافه کردن</a>

                <a href="allmed.html"target="_blank" class="STOREKEEPER">کل دارو</a>

                <a href="delete.html" target="_blank" class="STOREKEEPER">حذف دارو</a>
                        <a href="/staff/logout" class="STOREKEEPER"> خروج از حساب </a>
                
    </form>
</body>
</html>