<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacy-warehouse Log in page</title>
</head>
<body>
    <form action="/loginhandler" method="POST">
        <div>
            <p>حساب کاربری</p>

            <label for="username" >نام کاربری</label>
            <input type="text" name="username" placeholder="شناسه کاربری" id="username">
            
            <br>
            <label for="password1">رمز عبور</label>
            <input type="password" name="password" placeholder="رمز عبور" id="password1">
            <br>
            <button type="submit">ورود به حساب</button>
        </div>
    </form>
</body>
</html>