<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacy-warehouse Log in page</title>
    <link rel="stylesheet" href="/static/pharmacy.css">
    <link rel="icon" type="image" href="/static/form.jpg">
</head>
<body>
    <form action="/staff/loginprocessor" method="POST">
        <div class="log-in">
            <p class="account">حساب کاربری</p>
            
            <div class="user-name">
            <label for="staffid" >کد پرسنلی</label>
            <input type="text" name="staffid" placeholder="کد پرسنلی" id="staffid">
            </div>
            <div class="password0">
            <label for="password">رمز عبور</label>
            <input type="password" name="password" placeholder="رمز عبور" id="password" minlength="8" maxlength="32">
             </div>
             <p class="note">رمز عبور باید حداقل 8 کاراکتر باشد و حداکثر 32 کاراکتر باشد.</p>
            <button type="submit" class="button">ورود به حساب</button>
        </div>
    </form>
</body>
</html>