<html lang="fa" dir="rtl">
<head>

    <title>Add Staff</title>
</head>
<body>
    <form action="/admin/addstaffprocess" method="POST">
        <div>
            <p>افزودن کارمند</p>

            <label for="name" >نام</label>
            <input type="text" name="name" placeholder="نام" id="name">
            <br>
            <label for="family" >نام خانوادگی</label>
            <input type="text" name="family" placeholder="نام خانوادگی" id="family">
            <br>
            <label for="position" >سمت</label>
            <input type="text" name="position" placeholder="سمت کارمند" id="position">
            <br>
            <label for="name" >گذر واژه اولیه</label>
            <input type="password" name="password" placeholder="گذر واژّ اولیه" id="password">
            <br>
            <button type="submit"> افزودن کارمند</button>
        </div>
    </form>
</body>
</html>