<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>اضافه کردن دارو</title>
    <link rel="stylesheet" href="/static/pharmacy.css">
    <link rel="icon" type="image" href="form.jpg">
</head>
<body>
    <a href="phar_login.html"class="logout" >خروج از حساب کاربری</a>
    <form action="/admin/addstaffprocessor" method="POST">

        <div class="neme-medicine">
            <label for="staffname">نام کارمند :</label>
            <input type="text" id="staffname" name="staffname" placeholder="نام کارمند" >
        </div>
        <div class="cost">
            <label for="stafffamily">نام خانوادگی کارمند :</label>
            <input type="text" id="stafffamily" name="stafffamily" placeholder="نام خانوادگی کارمند" >
        </div>
        <div class="company">
            <label for="stafffamily">سمت  کارمند :</label>
        <select name="position" id="position">
            <option value="storekeeper">انبار دار</option>
            <option value="recipient">نسخه پیچ</option>
        </select>
        </div>
        <div class="count">
            <label for="password">گذر واژه اولیه</label>
            <input type="password" id="password" name="password" placeholder="گذر واژه اولیه">
        </div>
        <button type="submit" class="btn">افزودن کارمند</button>
    </form>
</body>
</html>