<!DOCTYPE html>
<html>

<head>
    <title>Recipient Drug List</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>لیست کارمندان</h1>
    <table class="drug-list">
        <thead>
            <tr>
                <th>نام </th>
                <th>نام خانوادگی</th>
                <th>شماره پرسنلی</th>
                <th>سمت</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            {{range .Staff}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Family}}</td>
                <td>{{.Staffid}}</td>
                {{if eq .Position "admin"}}
                <td>ادمین</td>
                {{else if eq .Position "storekeeper"}}
                <td>انبار دار</td>
                {{else if eq .Position "recipient"}}
                <td>نسخه پیج</td>
                {{else}}
                <td>نا مشخض</td>
                {{end}}
                <td>
                <button class="edit-button"><a href="/admin/editstaff/{{.Id}}">ویرایش </a></button>
                <button class="delete-button"><a href="/admin/deletestaff/{{.Id}}">حذف</a></button>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
    <a href="/staff/home" class="return-button">Return</a>
</body>
</html>

